@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton";
  src: url(/assets/font/Anton-Regular.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(/assets/font/Manrope-VariableFont_wght.ttf);
}

:root {
  font-family: "Manrope", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: #1b1b1b; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Anton", Arial;
}

h4,
h5,
p {
  font-family: "Manrope", Arial;
}

header {
  height: 667px;
  background: rgba(0, 0, 0, 0.3) url(./assets/img/header_wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header #tagline {
  font-size: 3rem;
  /* text-5xl font-normal leading-10 */
}

/* --------- */

.listBlocFilter {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #fff;
  width: 11rem;
  border-radius: 0.5rem;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.listBlocFilter::-webkit-scrollbar {
  width: 0;  /* Largeur de la barre de défilement à 0 pour la masquer */
}